workflows/calling-agent-vapi.json
{
  "name": "Vexlorai - Calling Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "customerName"
            },
            {
              "name": "phoneNumber"
            },
            {
              "name": "projectContext"
            },
            {
              "name": "customerEmail"
            },
            {
              "name": "leadScore"
            },
            {
              "name": "airtableRecordId "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        -160
      ],
      "id": "3687c636-4c80-462b-8c6d-6d37d625a998",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "sbborfarooq@gmail.com",
          "mode": "list",
          "cachedResultName": "sbborfarooq@gmail.com"
        },
        "timeMin": "={{ $now.plus({ hours: 1 }) }}",
        "timeMax": "={{ $now.plus({ hours: 1, minutes: 30 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -384,
        -160
      ],
      "id": "78433d84-7a30-4af7-a7bb-e5f6742c89cf",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xQqsSitH9ZdDA6Mz",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "29422053-10c8-4b5e-a28f-33cdf63d0923",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -160
      ],
      "id": "9611e409-b4be-478a-b31e-45cde70b74da",
      "name": "If"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sbborfarooq@gmail.com",
          "mode": "list",
          "cachedResultName": "sbborfarooq@gmail.com"
        },
        "start": "={{ $now.plus({ hours: 1 }) }}",
        "end": "={{ $now.plus({ hours: 1, minutes: 30 }) }}",
        "additionalFields": {
          "summary": "=Call with {{ $json.customerName }} - Vexlorai"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        32,
        -256
      ],
      "id": "6690e4d7-d903-4466-ab91-e1757b300be0",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xQqsSitH9ZdDA6Mz",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"15ab9589-2e2e-47f9-9a7d-390db357a526\",\n  \"phoneNumberId\": \"9a621a59-16fa-481e-9c4b-736c77c506a9\",\n  \"customer\": {\n    \"number\": \"{{ $json.phoneNumber }}\"\n  },\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"customerName\": \"{{ $json.customerName }}\",\n      \"projectContext\": \"{{ $json.projectContext }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        -256
      ],
      "id": "dcaf93c1-b1ae-4b9b-b6a4-126024b29fca",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yCt41o4jPQBh60vv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('When Executed by Another Workflow').item.json.customerEmail }}",
        "subject": "Let's find a better time to talk - Vexlorai",
        "emailType": "text",
        "message": "=Hi {{ $('When Executed by Another Workflow').item.json.customerName }},  Thank you for your interest in working with Vexlorai! We tried to schedule a quick call to discuss your project, but our proposed time didn't work out.  Could you please reply with a time that works best for you? We'd love to connect and discuss your app idea further.  Looking forward to hearing from you!  Best regards, Alex Vexlorai Tech and AI Agency",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        32,
        -64
      ],
      "id": "4d265b6c-1b40-40ab-8dc0-42a4f78763a7",
      "name": "Send a message",
      "webhookId": "06cda998-e211-4fb6-a0a8-0cec86aafc0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "JaX4sgcsTVNjnQu8",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apprWWHizgxDasSCq",
          "mode": "list",
          "cachedResultName": "AI Support Agent",
          "cachedResultUrl": "https://airtable.com/apprWWHizgxDasSCq"
        },
        "table": {
          "__rl": true,
          "value": "tblpldTBbc6CQKpkT",
          "mode": "list",
          "cachedResultName": "Conversations",
          "cachedResultUrl": "https://airtable.com/apprWWHizgxDasSCq/tblpldTBbc6CQKpkT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('When Executed by Another Workflow').item.json.airtableRecordId }}",
            "Call Status": "=Scheduled ",
            "Calendar Event ID": "={{ $json.id }}",
            "Scheduled Call Time": "={{ $now.plus({ hours: 1 }) }}",
            "Call Attempt Count": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Channel",
              "displayName": "Channel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "Chat",
                  "value": "Chat"
                },
                {
                  "name": "WhatsApp",
                  "value": "WhatsApp"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI Reply",
              "displayName": "AI Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "HOT_LEAD",
                  "value": "HOT_LEAD"
                },
                {
                  "name": "COMPLAINT",
                  "value": "COMPLAINT"
                },
                {
                  "name": "NEW_LEAD",
                  "value": "NEW_LEAD"
                },
                {
                  "name": "EXISTING_CLIENT",
                  "value": "EXISTING_CLIENT"
                },
                {
                  "name": "GENERAL_INQUIRY",
                  "value": "GENERAL_INQUIRY"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date/Time",
              "displayName": "Date/Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Open",
                  "value": "Open"
                },
                {
                  "name": "Resolved",
                  "value": "Resolved"
                },
                {
                  "name": "Escalated",
                  "value": "Escalated"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Status",
              "displayName": "Call Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scheduled Call Time",
              "displayName": "Scheduled Call Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Calendar Event ID",
              "displayName": "Calendar Event ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Attempt Count",
              "displayName": "Call Attempt Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Summary",
              "displayName": "Call Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal Outcome",
              "displayName": "Deal Outcome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        224,
        -448
      ],
      "id": "b99a54aa-2c73-48e9-97af-f2ce66d44882",
      "name": "Update Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "dGW4vwm4O1pf9iyd",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apprWWHizgxDasSCq",
          "mode": "list",
          "cachedResultName": "AI Support Agent",
          "cachedResultUrl": "https://airtable.com/apprWWHizgxDasSCq"
        },
        "table": {
          "__rl": true,
          "value": "tblpldTBbc6CQKpkT",
          "mode": "list",
          "cachedResultName": "Conversations",
          "cachedResultUrl": "https://airtable.com/apprWWHizgxDasSCq/tblpldTBbc6CQKpkT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('When Executed by Another Workflow').item.json.airtableRecordId }}",
            "Call Status": "=Rescheduled - Awaiting Response",
            "Call Attempt Count": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Channel",
              "displayName": "Channel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "Chat",
                  "value": "Chat"
                },
                {
                  "name": "WhatsApp",
                  "value": "WhatsApp"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI Reply",
              "displayName": "AI Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "HOT_LEAD",
                  "value": "HOT_LEAD"
                },
                {
                  "name": "COMPLAINT",
                  "value": "COMPLAINT"
                },
                {
                  "name": "NEW_LEAD",
                  "value": "NEW_LEAD"
                },
                {
                  "name": "EXISTING_CLIENT",
                  "value": "EXISTING_CLIENT"
                },
                {
                  "name": "GENERAL_INQUIRY",
                  "value": "GENERAL_INQUIRY"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date/Time",
              "displayName": "Date/Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Open",
                  "value": "Open"
                },
                {
                  "name": "Resolved",
                  "value": "Resolved"
                },
                {
                  "name": "Escalated",
                  "value": "Escalated"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Status",
              "displayName": "Call Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scheduled Call Time",
              "displayName": "Scheduled Call Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Calendar Event ID",
              "displayName": "Calendar Event ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Attempt Count",
              "displayName": "Call Attempt Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Summary",
              "displayName": "Call Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deal Outcome",
              "displayName": "Deal Outcome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        240,
        -64
      ],
      "id": "76e160f5-1b38-4db5-8b2c-01d072c549a8",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "dGW4vwm4O1pf9iyd",
          "name": "Airtable account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "customerName": "Bilal",
          "phoneNumber": "+92XXXXXXXXXX",
          "projectContext": "Android app for logistics tracking, budget $3500, urgent",
          "leadScore": "High",
          "customerEmail": "test@example.com",
          "airtableRecordId": "recTEST123456"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6e33e571-10b4-4b33-a6ba-1b7e301fbe3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9463cb91a8eb2ac8a1faeb84786f6326f95b73272a43395565e311dae2ed37f8"
  },
  "nodeGroups": [],
  "id": "dd9fGFcUrRWYzE9A",
  "tags": []
}